* { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

body {
    height: 100vh;
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    display: flex; align-items: center; justify-content: center;
}

.container {
    width: 300px;
    height: 450px;
    background: #fff;
    text-align: center;
    box-shadow: 10px 10px #FF057C;
    border-radius: 10px;
    overflow: hidden;
}

#header-text {
    padding-top: 20px;
    font-weight: bold;
}

#input {
    background: #e2f3f5;
    border: 0;
    border-left: 5px solid #FF057C;
    padding: 5px;
}

#input:focus {
    outline: none;
}

#error-text {
    font-size: 13px;
    color: #f76868;
    width: max-content;
    margin: 0 auto;
}

#btn {
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: unset;
    font-weight: bold;
    margin: 5px;
    transition: 1s;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    background: #FF057C;
}

#list {
    background: #e2f3f5;
    height: 250px;
    overflow: scroll;
    padding: 20px 0 0 0;
}

::-webkit-scrollbar {
    display: none;
}

.list-item {
    padding: 10px 15px;
    margin: 10px 20px;
    height: 40px;
    color: black;
    list-style: none;
    clear: both;
    transition: 1s ease-in-out;
    background: #fff;
    border-radius: 2px;
}

.list-text {
    float: left;
    text-align: left;
    font-size: 17px;
}

.list-text span {
    font-weight: bold;
    /* margin-bottom: 20px; */
}

#date-text {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #bbb;
    text-align: left;
}

#action-btn {
    margin-top: 10px;
    float: right;
}

#action-btn i {
    cursor: pointer;
    margin-right: 5px;
}

#action-btn .icon {
    width: 20px; height: 20px;
    color: #f76868;
}